body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8f5e9;
    color: #1b5e20;
    margin:0;
}

header{
    background-color:#2e7d32;
    color:white;
    text-align:center;
    padding:25px;
}

main{
    width:80%;
    margin:auto;
}

section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shadow:2px 2px 8px gray;
}

h2{
    color:#2e7d32;
}

button{
    background-color:#43a047;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background-color:#1b5e20;
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

#mensagem{
    font-weight:bold;
    margin-top:15px;
}
